@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400&display=swap");

.hourly-forecast {
  background-color: #ffffff;
  width: 375px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  margin: 20px 10px;
  border-radius: 4px;
}

.hourly-forecast h3 {
  font-family: "Merriweather", sans-serif;
  text-align: left;
  font-size: 16px;
  color: #797676;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 8px;
}

.hourly-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hour p{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px; 
  color: #797676; 
  font-family: "Libre Franklin", sans-serif; 
}