@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400&display=swap");

.temperature {
  font-family: "Libre Franklin", sans-serif;
  font-size: 57px;
  font-weight: 400;
  color: #000;
  line-height: 64px;
  letter-spacing: -0.25px;
  text-align: center;
}

.temp-range {
  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #484646;
  text-align: center;
  padding: 8px 0px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.high-temp {
  margin-left: 20px;
}
