.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #fff;
    color: #000;
    font-family: "SF Pro", sans-serif;
    font-size: 17px;
    font-weight: 500;
  }
  
  .time {
    font-size: 17px;
    font-weight: 590;
    text-align: center;
    margin-left: 30px;
  }
  
