@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400&display=swap");

.alert-banner {
  position: fixed;
  width: 430px;
  height: 48px;
  top: 110px; 
  left: 0;
  background-color: red;
  color: white;
  text-align: center;
  padding: 1px;
  font-family: "Libre Franklin", sans-serif; 
  font-size: 14px;
  font-weight: 500;
  z-index: 10; 
  transition: opacity 0.5s ease-in-out;
  opacity: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.alert-banner.visible {
  opacity: 1;
}